.ingredient-card{
    background-color: #ffffff;
    border-radius: .75rem;
    border: 1px solid #E6E6E6;
    width: 15rem;
    padding: 1.5rem;
    transition: all 0.2s ease;
    margin: 1rem;
}
.ingredient-name{
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.ingredient-quantity{
    color: #426B1F;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}